<header class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-toggle collapsed" id="menu-icon">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="{{ site.rooturl }}">
        {{ site.title }}
      </a>
      {% if page and page.title %}
        <span class="navbar-brand hidden-xs">
          &gt; {{ page.title }}
        </span>
      {% endif %}
    </div>
    <ul class="nav navbar-nav navbar-right navbar-collapse">
      <li class="hidden-md hidden-sx hidden-lg">
        <a class="page-link" href="{{ site.rooturl }}">
          Index
        </a>
      </li>
      <li class="hidden-md hidden-sx hidden-lg">
        <a class="page-link" href="{{ site.rooturl }}posts/">
          Posts
        </a>
      </li>

      {% for page in site.pages %}
        {% if page.layout == "page" %}
          <li>
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>
